In [1]:
import os
import pandas as pd

In [12]:
meta_df = pd.read_csv('/data/experiments/hensel/storytelling-candidates/data_retrieval_scripts/meta_data_all.tsv', sep='\t', index_col=0, names=['sent_id', 'article_id', 'start', 'end', 'text', 'url'])
meta_df

,article_id,start,end,text,url
sent_id,,,,,
3-0,3,0,2,Main Page,?curid=3
3-1,3,3,7,"&lt;templatestyles src=""Main Page/minerva.css""...",?curid=3
3-2,3,8,8,__NOEDITSECTION__,?curid=3
726-0,726,0,2,Upload media,?curid=726
736-0,736,0,7,President of China lunches with Brazilian Pres...,?curid=736
...,...,...,...,...,...
2909960-0,2909960,0,9,Executive Office of the President of the Unite...,?curid=2909960
2910010-0,2910010,0,4,Toddler shot in Ontario,?curid=2910010
2910010-1,2910010,5,16,"Delete this line, and start typing your articl...",?curid=2910010
2910010-2,2910010,17,24,"For Wikilinks, use the template, example, codi...",?curid=2910010
2910010-3,2910010,25,30,1 year old boy killed.,?curid=2910010

In [7]:
sp_df = pd.read_csv('/data/experiments/hensel/storytelling-candidates/data_retrieval_scripts/Sentence_pairs_all.tsv', sep='\t', index_col=False)
sp_df

      sent1_id   sent2_id  similarity
0    1228312-0  1228316-0    0.812103
1     14383-10    3694-15    0.927651
2     47239-24    22918-3    0.928701
3     392416-2     8904-8    0.905024
4    156461-18  98959-161    0.949635
..         ...        ...         ...
495    29254-9  2880536-9    0.934088
496  2816943-0  2817816-0    0.968640
497   147464-0   147433-0    0.998161
498    26984-6   365410-7    0.915068
499  427354-12   427354-2    0.937788

[500 rows x 3 columns]

In [26]:
sp_df.sort_values('similarity')

       sent1_id    sent2_id  similarity
199  2902269-16  2897504-56  0.635761
91   18669-14    720392-9    0.699687
9    46439-0     2803017-0   0.770892
145  52943-0     1519761-19  0.776701
447  190161-0    27005-0     0.777426
..        ...        ...          ...
20   143685-27   141652-30   1.000000
31   9334-45     8212-11     1.000000
139  33726-13    33683-4     1.000000
295  108790-12   99601-16    1.000000
252  2907331-27  2907331-98  1.000000

[500 rows x 3 columns]

In [20]:
df = sp_df.set_index('sent1_id').join(meta_df, lsuffix='_sent1').set_index('sent2_id').join(meta_df, lsuffix='_sent2')
df

,similarity,article_id_sent2,start_sent2,end_sent2,text_sent2,url_sent2,article_id,start,end,text,url
100046-7,0.895648,113891,722,731,"Eisenhower, he said, had taken accountability ...",?curid=113891,100046,190,214,The Lockheed scandal was never brought to cour...,?curid=100046
100194-10,0.874910,28733,266,275,Transit workers are tired of being underapprec...,?curid=28733,100194,142,181,Attorney General of British Columbia Wally Opp...,?curid=100194
100473-3,0.937544,522363,75,95,The company that operates them quickly resolve...,?curid=522363,100473,44,59,We are aware that some customers may be experi...,?curid=100473
100576-7,0.938974,84111,244,274,They were a group of drug addicts that had sto...,?curid=84111,100576,126,137,We do know they had been there for a considera...,?curid=100576
100865-3,0.917149,3613,67,98,"Mantale, who is 38 years of age and from the n...",?curid=3613,100865,79,113,He has a B.A. in Political Science and Interna...,?curid=100865
...,...,...,...,...,...,...,...,...,...,...,...
98959-161,0.922721,144332,96,122,Now we can really say that Internet will speak...,?curid=144332,98959,2795,2802,( was the featured speaker at Vericon)\t?curid...,?curid=98959
98959-161,0.923107,34005,1754,1772,"[Regarding a quoted goal of $500,000], Mav wro...",?curid=34005,98959,2795,2802,( was the featured speaker at Vericon)\t?curid...,?curid=98959
99350-20,0.866666,648587,476,478,Like skiiing?,?curid=648587,99350,469,472,DS: Like ?,?curid=99350
9949-24,0.915431,42439,38,45,The officials spoke under condition of anonymity.,?curid=42439,9949,569,575,He spoke on condition of anonymity.,?curid=9949
99601-16,1.000000,108790,153,168,Campaigning for the American presidency is one...,?curid=108790,99601,218,233,Campaigning for the American presidency is one...,?curid=99601

In [25]:
pd.set_option('display.max_colwidth', -1)

df[['text', 'text_sent2', 'similarity']].sort_values('similarity', ascending=False)

/home/mostendorff/miniconda2/envs/pairwise-vs-segment/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

,text,text_sent2,similarity
99601-16,Campaigning for the American presidency is one of the most expensive exercises in the world.,Campaigning for the American presidency is one of the most expensive exercises in the world.,1.000000
2907331-98,Australia is a lot of ethnic minorities speaking over 120 languages and over 80 cultures.,Australia is a lot of ethnic minorities speaking over 120 languages and over 80 cultures.,1.000000
143895-203,"Eiland-Hall"" case that you would like to elaborate or explain?","Eiland-Hall"" case that you would like to elaborate or explain?",1.000000
141652-30,"Falwell"", in arguing that Beck's attorneys advised him against filing legal action in a U.S. court because the website would likely be seen as a form of parody and due to the First Amendment to the U.S. Constitution, such legal action would not be successful.","Falwell"", in arguing that Beck's attorneys advised him against filing legal action in a U.S. court because the website would likely be seen as a form of parody and due to the First Amendment to the U.S. Constitution, such legal action would not be successful.",1.000000
8212-11,"Wendy's continues to claim that there is no evidence that the finger ever entered their supply chain, pointing to a lack of any accidents among the workers at their suppliers.","Wendy's continues to claim that there is no evidence that the finger ever entered their supply chain, pointing to a lack of any accidents among the workers at their suppliers.",1.000000
...,...,...,...
27005-0,Creator of Berenstain Bears Dies at 82,John Wooden Dies at 99,0.777426
1519761-19,"We envision combining these origami-inspired materials with computer-controlled actuators to build more complex machines, such as hardening shells, locked-in joints and deployable barriers; and ultimately, this transformer technology will revolutionize the way we think about materials, moving them beyond their current static form, and revealing more functionality than what originally meets the eye"".",Scientists progress towards cloaking device,0.776701
2803017-0,Scientists report chemotherapy cocktail may cause adult women to grow new egg cells,Scientists crack age-old egg problem,0.770892
720392-9,"The incident follows a fire alarm going off at 3:20am Canberra time, and going off again around 7:20am.","My timing was off.""",0.699687
2897504-56,"And we call these spirals because they have shapes and these spirals are in fact gas, which are taking this shape.","shape: ""Marker"",",0.635761